main .region-content a {
  color: $primary;
  text-decoration: inherit;
  border-bottom: 1px solid $primary;
  &:hover,
  &:focus {
    color: $secondary;
    text-decoration: inherit;
    border-bottom: 1px solid $secondary;  
  }
}

main .region-content .btn {
  text-transform: uppercase;
  color: $white;
  background-color: inherit;
  border-bottom: inherit;
  border: 1px solid $white;
  border-radius: 20px;
  padding: 10px 16px;
  line-height: 1;

  &:hover,
  &:focus {
    color: $white;
    background-color: $secondary;
    border: 1px solid $white;
  }
}