.view-video-page {
  margin-top: 30px;
  margin-bottom: 90px;

  .views-row {
    article {
      border: 1px solid $white;
      border-radius: 10px;
    }
  }

  .view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .media--type-remote-video {
    margin: 0;
  }

  .media--type-remote-video img {
    border-radius: 10px 10px 0 0;
  }

  .field--name-name {
    max-width: 400px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 0 0 10px 10px;
    padding: 10px;
  }
}


.view-testimonials {
  .view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 90px;

    .views-row {
      background-color: rgba(0,0,0,0.75);
      width: 406px;
      padding: 20px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      border: 1px solid rgba(255, 255, 255, 0.25);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.3);

      @media (min-width: 768px) and (max-width: 991px) {
        width: 325px;
      }

      @media (min-width: 500px) and (max-width: 767px) {
        width: 406px;
      }

      @media (max-width: 499px) {
        width: 100%;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 5px;
      }

      .views-field-title {
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        font-size: xx-large;
        line-height: 1;
      }

      p {
        margin: 0;
      }
    }
  }
}


.view-previous-clients-and-venues {
  .view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 90px;

    img {
      width: 200px;
      height: auto;
      border-radius: $border-radius-img;
    }
  }
}



.view-packages {
  margin-top: 30px;
  margin-bottom: 30px;

  .view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .views-row {
    max-width: 440px;
    background-color: rgba(0,0,0,0.75);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
  }

  .views-field-field-teaser {
    font-weight: $font-weight-bold;
    font-size: x-large;
    margin-bottom: 1rem;
  }
}


.view-news {

  margin-bottom: 90px;

  .view-header h1,
  .field--name-field-teaser {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 60px auto;
    text-align: center; 
  }

  .view-content > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

.view-news {
  .views-row {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    max-width: 356px;
    padding: 15px;

    @media (min-width: 992px) and (max-width: 1200px) {
      max-width: 296px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      max-width: 332px;
    }

    @media (min-width: 540px) and (max-width: 767px) {
      max-width: 356px;
    }

    @media (max-width: 539px) {
      max-width: 356px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;
      text-align: center;

      .field--name-field-media-image {
        margin: 0;

        img {
          border-radius: $border-radius-img;
        }
      }

      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 83px;
        font-size: 36px;
        line-height: 1.1;
        margin: 0;
      }

      .body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 115px;
        font-size: 18px;
        line-height: 23px;
      }

      .link a.btn {
        min-width: 130px;
      }
    }
  }
}
